syntax: glob

param
param.out

output/*
inputs/*
HPCscripts/*
*.in
*.out
pull
push

*kdevelop*
src/src.kdevelop.filelist
src/src.kdevses
*orig
*kdev*
*~
*tags
*tag
Doxyfile

*.d
*.o

docs/html/*
docs/latex/*
